.content__rowOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;

  padding: 40px 20px 100px 20px;
}
.content__rowOneData {
  display: flex;
}
.content__rowOneImage > img {
  object-fit: contain;
  width: 500px;
  height: 300px;
}

.content__rowOne > h3 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
  text-transform: capitalize;
  text-align: center;
}
.content__rowOneData > p {
  line-height: 30px;
  font-size: 18px;
  text-align: left;
  padding-bottom: 25px;
}
.content__rowOneData > a {
  padding: 12px 32px;

  cursor: pointer;
  background-color: #323232;
  color: #f0fdf6;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 17.5px;
}
@media screen and (max-width: 500px) {
  .content__rowOneImage > img {
    object-fit: contain;
    width: 100%;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content__rowOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    padding: 20px;
  }
  .content__rowOneData {
    flex-direction: column;
  }
  .content__rowOne > h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
  }
  .content__rowOneData > p {
    font-size: 15px;
    line-height: 20px;
  }
}
