.contentOne {
  background-color: #f6f6f6;
}
.contentOne__rowOne {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  padding: 100px;
}
.contentOne__rowOneImage > img {
  object-fit: contain;
  width: 400px;
}

.contentOne__rowOneData > h3 {
  margin-bottom: 20px;
  font-size: 25px;
}
.contentOne__rowOneData > p {
  line-height: 25px;
}
.contentOne__rowOneData > button {
  padding: 12px 32px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #323232;
  color: #f0fdf6;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 17.5px;
}
